<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsw.sys.dao.PermissionDao">

    <resultMap type="com.zsw.sys.entity.Permission" id="permissionInfo">
        <id property="id" column="id"/>
        <result property="token" column="token"/>
        <result property="url" column="url"/>
        <result property="description" column="description"/>
        <result property="creator" column="creator"/>
        <result property="createTime" column="create_time"/>
        <result property="modifier" column="modifier"/>
        <result property="modifiedTime" column="modified_time"/>
    </resultMap>

    <select id="findAllUser" resultMap="permissionInfo">
        select * from erp_sys_permission
    </select>

    <!--<select id="findByPage" resultMap="userInfo">
        select * from erp_sys_user limit #{offset},#{limit}
    </select>-->

    <!--新增一条role记录-->
    <insert id="insert" parameterType="com.zsw.sys.entity.Permission">
        insert into erp_st_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="token != null">
                token,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="description != null">
                description,
            </if>

            <if test="creator != null">
                creator,
            </if>
            create_time,
            <if test="modifier != null">
                modifier,
            </if>
            <if test="modifiedTime != null">
                modified_time,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">

            #{id},

            <if test="token != null">
                #{token},
            </if>
            <if test="url != null">
                #{url},
            </if>
            <if test="description != null">
                #{description},
            </if>

            <if test="creator != null">
                #{creator},
            </if>

            sysdate(),

            <if test="modifier != null">
                #{modifier},
            </if>
            <if test="modifiedTime != null">
                #{modified_time},
            </if>
        </trim>
    </insert>

</mapper>